.identifier {
}
.keyword {
    -fx-font-weight: bold;
}
.operator {
}
.braces {

}
.numberLiteral {
    -fx-fill: #00389a;
}
.stringLiteral {
    -fx-fill: #a61e22;
}
.comment {
    -fx-fill: #2f9f1f;
}
.error {
    -fx-underline: true;
    -rtfx-background-color: #fae3e3;
}
#errorPopup {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 5;
}